// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

:root{
    --color-blue: #42d1d1;
};

@import "../node_modules/bootstrap/scss/bootstrap";

.body{
    background-color: #f9f9f9;
}

.sticky{
    height: 120px;
    background: rgba(255, 255, 255, 0.9);
    display: flex;
    justify-content: center;
    gap: 200px;
    .logo{
        padding: 15px 10px;
    }
    .logo-header{
        height: 90px;
    }
    .nav-list{
        display: flex;
        list-style-type: none;
        padding: 50px 0 ;
        gap: 40px;
    }
    .nav-element{
        color:rgb(0, 0, 0);
    }
    .nav-links{
        color: rgb(0, 0, 0);
        text-decoration: none;
        font-weight: 600;
        font-size: 16px;
        position: relative;
        transition: all 0.3s;
    }

    .nav-links-last-child{
        font-size: 12px;
    }

    .nav-links:hover,
    .nav-links:focus{
        color: rgb(107, 107, 107);
    }

    .nav-links::after{
        content: "";
        height: 3px;
        width: 100%;
        background-color: var(--color-blue);
        position: absolute;
        left: 0;
        bottom: -15px;
        opacity:0;
        transition: all 0.25s;
        pointer-events: none;
    }

    .nav-links:hover::after,
    .nav-links:focus::after{
        opacity:1;
    }
    .btn-dropdown{
        border: transparent;
        background-color: transparent;
        font-weight: 500;
    }
    .dropdown-menu{
        border-radius: 0;
        padding: 10px;
        min-width: 10rem !important;
        margin-top: 8px !important;
    }
    .dropdown-item:hover{
        background-color: rgba(66,209,209,0.2);
    }
    .dropdown-menu-item{
        color: rgb(0, 0, 0);
        text-decoration: none;
    }
    .dropdown-menu-item:hover{
        color: var(--color-blue);
    }
    .banderas{
        width: 20px;
    }
}

.nav-menu-phone{
    display: none;
}


.carousel-fade{
    width: 100%;
}

.carousel-inner{
    height: 95vh;
}


.carousel-item-homepage{
    margin-top: 120px;
    height: auto;
    width: 100%;
    .carousel-caption{
        bottom: 50%;
    }
    .carousel-homepage-property-title{
        font-size: 60px;
    }
    .carousel-homepage-property-price{
        padding-bottom: 10px;
        margin-top: 0;
        padding-top: 0;
    }
    .btn-info{
        color: white;
    }
    .carousel-image-homepage{
        background-repeat: no-repeat !important;
        background-position: center !important;
        background-attachment: fixed !important;
        background-size: cover !important;
        height: 90vh;
        object-fit: cover;
        object-position: center center;
    }

}


.around-carousel-icon-square{
    background-color: rgba(0,0,0,0.4);
    width:  75px;
    height: 75px;
    bottom: 5px;
    padding-top: 20px;
    border-radius: 4px;
}

.welcome-menu-homepage{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 75px auto;
    width: 60%;
    justify-content: center;
    align-items: center;
    .welcome-text-homepage{
        width: 100%;
        height: fit-content;
        z-index: 2;
        padding: 0 25px 10px 25px;
        border-radius: 25px;
        box-shadow: 1px 1px 5px #000000;
        background-color: white;
        grid-column: 1 / 3;
        .welcome-text-homepage-title{
            text-align: center;
            padding: 15px 15px 10px 15px;
            font-family: 'Roboto Slab', serif !important;
        }
    }
    .welcome-image-homepage{
        width: 100%;
        z-index: 1;
        border-radius: 25px;
        grid-column: 2 / -1;
        box-shadow: 1px 1px 5px #000000;
        .welcome-image-homepage-image{
            width: 100%;
            border-radius: 25px;
        }
    }

    .welcome-text-homepage, .welcome-image-homepage{
        grid-row: 1 / 2;
    }
}

// .welcome-menu-homepage{
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     gap: 50px;
//     margin-top: 400px;
//     margin-bottom: 75px;
//     .welcome-text-homepage{
//         width: 440px;
//         position: absolute;
//         height: fit-content;
//         z-index: 2;
//         padding: 0 20px;
//         border-radius: 25px;
//         box-shadow: 1px 1px 5px #42d1d1;
//         background-color: white;
//         margin-right: 700px;
//         .welcome-text-homepage-title{
//             text-align: center;
//             padding-bottom: 20px;
//         }
//     }
//     .welcome-image-homepage{
//         position: absolute;
//         width: 50%;
//         height: 600px;
//         z-index: 1;
//         background-color: aqua;
//         margin-left: 400px;
//     }
// } z-index para poner un div encima del otro (otra opción) (pero hay que usar position:absolute y es mucho más sencillo con grid cuando tienes elementos encima y abajo que no quieres sobreescribir)

.properties-menu-title{
    justify-content: center;
    text-align: center;
    margin: auto;
    width: auto;
    .properties-menu-title-homepage{
        margin: auto;
        width: auto;
        font-family: 'Roboto Slab', serif !important;
    }
}
.properties-menu-title-homepage-line{
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 16%;
    height: 2px;
    background-color: #000000;
    margin-bottom: 50px;
}

.properties-menu{
    margin-bottom: 100px;
}
.properties-menu-images{
    display: flex;
    position: relative;
    gap: 50px;
    width: 80%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    .property{
        width: 525px;
        height: 490px;
        background-color: rgb(240, 240, 239);
        transition: 0.5s;
        position: relative;
        box-shadow: 1px 1px 5px #000000;
        .properties-menu-first-property-image, .properties-menu-second-property-image{
            height: 375px;
            width: 525px;
        }
        .properties-menu-first-property-text, .properties-menu-second-property-text{
            padding: 20px;
        }
        .properties-menu-names-homepage{
            font-family: 'Roboto Slab', serif !important;
        }
    }
    .property:hover{
        background-color: var(--color-blue);
        transform: translateY(-10px);
        transform: scale(105%);
    }
    .property-links{
        color: #000;
        text-decoration: none;
    }
    .properties-menu-first-property-price{
        position: absolute;
        bottom: 125px;
        right: 25px;
        color: white;
        font-size: 23px;
        font-weight: 500;
    }
    
}

.footer-info{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    background-color: rgb(240, 240, 239);
    padding: 50px 50px 20px 50px;
    .footer-info-logo-image{
        height: 100px;
    }
    .footer-title{
        border-bottom: 1px solid #000000;
        margin-bottom: 15px;
        padding-bottom: 10px;
    }
    .footer-links{
        color: #000;
        text-decoration: none;
    }
    .footer-links:hover{
        color: var(--color-blue);
        text-decoration: none;
    }
    .footer-text{
        line-height: 28px;
    }
}

//Pagina principal



























//Pagina de Caja Blanca

.caja-blanca-menu-title{
    justify-content: center;
    text-align: center;
    margin: auto;
    width: 20%;
    margin-top: 150px;
    .caja-blanca-menu-title-homepage{
        justify-content: center;
        font-family: 'Roboto Slab', serif !important;
    }
    .caja-blanca-menu-title-homepage-line{
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 2px;
        background-color: #000000;
        margin-bottom: 35px;
    }
}

// .welcome-menu-properties-page{
//     display: flex;
//     align-items: center;    
//     justify-content: center;
//     gap: 50px;
//     width: 85%;
//     .welcome-text-properties-page{
//         width: 500px;
//     }
//     .welcome-image-properties-page{
//         width: 500px;
//         .welcome-image-properties-page-image{
//             width: 100%;
//         }
//     }
// }
.welcome-menu-properties-page{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin: 15px auto;
    width: 75%;
    max-width: 1250px;
    justify-content: center;
    .welcome-text-properties-page{
        width: 100%;
        height: fit-content;
        z-index: 2;
        padding: 0 30px 10px 30px;
        box-shadow: 1px 1px 5px #000000;
        background-color: white;
        grid-column: 1 / 3;
        .welcome-text-properties-page-title{
            text-align: center;
            padding: 15px 15px 10px 15px;
            font-family: 'Roboto Slab', serif !important;
        }
    }

    .welcome-image-properties-page{
        width: 100%;
        z-index: 1;
        grid-column: 2 / -1;
        margin-top: 75px;
        height: 600px;
        .welcome-image-properties-page-image{
            width: 100%;
            border-radius: 25px;
        }
    }
    .welcome-text-properties-page, .welcome-image-properties-page{
        grid-row: 1 / 2;
    }
}

.carousel-inner.carousel-inner-properties{
    height: 600px;
}


.caja-blanca-amenities-title{
    width: 250px;
    margin-left: 10%;
    margin-top: 100px;
    .caja-blanca-amenities-title-properties-page{
        font-family: 'Roboto Slab', serif !important;
    }
}
.caja-blanca-amenities-title-properties-page-line{
    margin-left: 10%;
    width: 250px;
    height: 2px;
    background-color: #000000;
    margin-bottom: 15px;
}

.amenities-elements{
    margin: auto;
    justify-content: center;
    text-align: center;
    width: 80%;
    .amenities-item{
        height: 60px;
        align-items: center;
        justify-content: center;
        width: 200px;
        font-family: 'Roboto Slab', serif !important;
        font-weight: bold;
        margin-bottom: 20px;
        padding: 40px 20px;
    }
    .first-row-amenities-elements, .second-row-amenities-elements, .third-row-amenities-elements, .fourth-row-amenities-elements{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .amenities-item-image{
        width: 40px;
    }
    .amenities-item-image-special{
        width: 6%;
    }
}

.caja-blanca-menu-title-services{
    margin-top: 100px;
}

.service-item{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: 50px;
    .service-image-item{
        width: 30%;
        .image-services{
            width: 100%;
        }
    }
    .btn-services{
        font-weight: 500;
    }
    .service-text-item{
        width: 30%;
    }
}

























// Management Página


.management-background-image{
    height: auto;
    margin-top: 120px;
    width: 100%;
    .management-background-image-image{
        height: 775px;
        width: 100%;
        object-fit: cover;
        object-position: center center;
    }
}

.management-title{
    position: absolute;
    top: 40%;
    left: 50%;
    margin-top: -68px;
    margin-left: -225px;
    padding: 10px;
    z-index: 1;
    font-size: 20px;
    color: rgb(255, 255, 255);
    .management-title-text{
        margin-bottom: 20px ;
    }
    .btn-management-title{
        width: 200px;
        color: white;
        transform: translateX(50%);
    }
    .btn.btn-info.btn.btn-management-title-responsive{
        display: none;
        color: white;
    }
}

.management-our-services-content{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    gap: 40px;
    .management-our-services-content-text{
        width: 625px;
    }
    .management-our-services-content-images{
        width: 625px;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
}

.card-img-top{
    height: 165px;
}
.management-our-services-menu-title{
    margin-bottom: 50px;
    margin-top: 75px;
}

.management-our-services-content-text-decription-title{
    font-family: 'Roboto Slab', serif !important;
    padding-top: 20px;
}
.management-our-services-content-text-decription-subtitle{
    font-size: 20px;
}




























//Deals Página

.deals-background-image{
    height: auto;
    margin-top: 120px;
    width: 100%;
    .deals-background-image-image{
        height: 490px;
        width: 100%;
        object-fit: cover;
        object-position: center center;
    }
}

.caja-blanca-menu-title.caja-blanca-menu-title-services.deals-menu-title{
    margin-top: 50px;
    width: 600px; 
}
.caja-blanca-menu-title.caja-blanca-menu-title-services.last-minute-deals-menu-title{
    width: 500px;
}

.management-title.deals-image-title{
    width: auto;
    margin-left: -150px;
    .deals-title-text{
        transform: translateX(15%);
        width: fit-content;
    }
    .btn-deals-title{
        transform: translateX(19%);
    }
    .btn.btn-info.btn.btn-management-title.btn-deals-title-responsive{
        display: none;
    }
}

.deals-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: 50px;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto 50px auto;
    .card-deals{
        height: auto;
        width: auto;
        .card-image-deals{
            height: 25rem;
        }
    }
}

.last-minute-deals{
    width: 100%;
    margin: auto;
    flex-wrap: wrap;
    margin-bottom: 50px;
    .last-minute-card-deals{
        height: auto;
        width: auto;
    }
    .last-minute-deals-row{
        gap: 50px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .last-minute-card-image-deals{
        height: 400px;  
        width: auto;
    }
}






















//About Us Página
.about-us-background-image{
    height: auto;
    width: 100%;
    background-color: rgba(0,0,0,0.8);
    margin-top: 120px;
    .about-us-background-image-image{
        height: 450px;
        width: 100%;
        opacity: 0.5;
        object-fit: cover;
        object-position: center center;
    }
}

.about-us-information{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 75px;
    margin-bottom: 75px;
    gap: 150px;
    .about-us-information-text{
        width: 500px;
        .about-us-information-text-title{
            font-family: 'Roboto Slab', serif !important;
        }
    }
    .about-us-information-image{
        width: 400px;
        height: 500px;
        border-radius: 50px;
        background-color: rgb(223, 255, 255);
        display: flex;
        flex-direction: column;
        align-items: center;
        .foto-mama{
            margin-top: 75px;
            width: 50%;
            height: fit-content;
            border-radius: 100%;
        }
        .about-us-information-image-title{
            font-family: 'Roboto Slab', serif !important;
            padding-top: 20px;
        }
        .about-us-information-image-subtitle{
            margin-bottom: 0;
        }
    }
}





















// Contact Page

.contact-background-image{
    height: auto;
    width: 100%;
    background-color: #000;
    margin-top: 120px;
    .contact-background-image-image{
        width: 100%;
        opacity: 0.5;
        height: 450px;
        object-fit: cover;
        object-position: center center;

    }
}

.contact-information{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    .contact-item{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 125px 0;
        .contact-icon{
            width: 100px;
            height: 100px;
            .image-contact{
                width: 100%;
            }
        }
        .contact-text{
            padding: 10px 0;
            text-align: center;
            .contact-text-title{
                font-family: 'Roboto Slab', serif !important;
            }
        }
    }
}



















@media all and (max-width: 1700px) {
    .sticky{
        gap: 100px;
        height: 120px;
    }
    .logo-header{
        height: 75px;
    }

    .welcome-menu-homepage{
        width: 1000px;
    }

    // .welcome-menu-properties-page{
    //     width: 1200px;
    //     height: 500px;
    // }

    .properties-menu-images{
        width: 95%;
    }

    // .welcome-menu-properties-page .welcome-image-properties-page {
    //     margin-top: 125px;
    // }

    .caja-blanca-menu-title{
        width: 300px;
    }

    .caja-blanca-amenities-title{
        margin-top: 300px;
    }

    .properties-menu-title-homepage-line{
        width: 20%;
    }

}



















@media all and (max-width: 1250px) {
    
    .sticky{
        justify-content: space-around;
        height: 100px;
        gap: 0;
        .logo{
            padding: 10px;
        }
        .logo-header{
            height: 80px;
        }
    }

    .dropdown-menu-phone{
        border: 0;
        background-color: transparent;
    }
    
    nav{
        display:none;
    }

    .nav-menu-phone{
        display: block;
        padding: 22px;
    }
    .phone-nav-menu-icon{
        width: 50px;
        margin-top: 15px;
    }

    a.dropdown-item.nav-links{
        padding-left: 0;
    }

    //
    
    .carousel-inner{
        height: 95vh;
    }

    .carousel-item-homepage {
        height: auto; /* Set height to auto for mobile devices */
        width: 100%;
        margin-top: 100px;
    }

    .carousel-image-homepage{
        height: 50vh;
    }

    .welcome-menu-homepage {
        grid-template-columns: repeat(2, 1fr); /* Change to two columns for screens smaller than 768px */
        display: block;
        width: 80%;
    }

    //

    .welcome-text-homepage{
        height: auto;
        margin-bottom: 25px;
    }
    
    .properties-menu-title-homepage-line{
        width: 45%;
    }

    .properties-menu-first-property-image{
        height: 375px;
        width: 80%;
    }

    .property-links{
        width: 100%;
    }

    .properties-menu-images{
        width: 80%;
        .property{
            width: 100%;
            height: auto;
            background-color: rgb(240, 240, 239);
            transition: 0.5s;
            position: relative;
            .properties-menu-first-property-image, .properties-menu-second-property-image{
                height: auto;
                width: 100%;
            }
        }
    }

    .footer-info{
        display: block;
        height: auto;
        width: 100%;
        .footer-info-logo-image{
            height: 90px;
        }
    }

// Properties pages
    .welcome-menu-properties-page{
        display: block;
        display: flex;
        flex-direction: column;
        grid-template-columns: repeat(2, 1fr);
        width: 90%;
        height: auto;
    }
    .carousel-inner.carousel-inner-properties{
        height: auto;
    }
    .welcome-menu-properties-page .welcome-image-properties-page{
        margin-top: 0;
        margin-bottom: 20px;
        height: auto;
        order: 1;
    }
    .welcome-menu-properties-page .welcome-text-properties-page{
        order: 2;
    }
    .caja-blanca-amenities-title{
        margin-top: 50px;
    }
    .caja-blanca-menu-title{
        margin-top: 100px;
    }
    .caja-blanca-menu-title .caja-blanca-menu-title-homepage-line {
        margin-bottom: 35px;
    }
    .service-item{
        flex-direction: column;
        .service-image-item{
            width: 90%;
        }
        .btn-services{
            font-weight: 500;
        }
        .service-text-item{
            width: 90%;
        }
    }
    .third-service-text, .second-service-text{
        order: 2;
    }
    .third-service-image, .second-service-image{
        order: 1;
    }

//Contact page

    .contact-background-image{
        margin-top: 100px;
        .contact-background-image-image{
            width: 100%;
            opacity: 0.5;
            height: 346px;
            object-fit: cover;
            object-position: center center;
    
        }
    }

    .contact-information{
        flex-direction: column;
        .contact-item{
            padding: 40px 0;
        }
    }

//About Page
    .about-us-background-image{
        height: auto;
        margin-top: 100px;
        .about-us-background-image-image{
            height: 474px;
            width: 100%;
            opacity: 0.5;
            object-fit: cover;
            object-position: center center;
        }
    }

    .about-us-information{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 50px;
        margin-bottom: 20px;
        gap: 20px;
        .about-us-information-text{
            width: 90%;
        }
        .about-us-information-image{
            width: 90%;
            .foto-mama{
                height: 200px;
                width: 200px;
            }
        }
    }
//Management page
    .management-background-image{
        margin-top: 100px;
    }
    .management-our-services-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        .management-our-services-content-text{
            width: 90%;
        }
    }

    .management-title{
        margin-top: -68px;
        margin-left: -171px;
        .management-title-text{
            margin-bottom: 20px;
            font-size: 30px;
        }
        .btn-management-title{
            display: none;
        }
        .btn.btn-info.btn.btn-management-title-responsive{
            display: block;
            transform: translateX(100%);
        }
    }
    .management-our-services-menu-title{
        margin-top: 40px;
        margin-bottom: 0;
    }

//Deals Page
    .deals-menu{
        display: flex;
        flex-direction: column;
    }
    .caja-blanca-menu-title.caja-blanca-menu-title-services.deals-menu-title {
        margin-top: 50px;
        width: 200px;
    }
    .btn.btn-info.btn.btn-management-title.btn-deals-title{
        transform: translateX(75%);
    }
    .caja-blanca-menu-title-homepage.deals-title{
        font-size: 25px;
    }

    .management-title.deals-image-title{
        margin-left: -116px;
        width: 200px;
        .deals-title-text{
            transform: translateX(5%);
        }
        .btn-deals-title{
            display: none;
        }
        .btn.btn-info.btn.btn-management-title.btn-deals-title-responsive{
            display: block;
            width: fit-content;
            transform: translateX(22%);
        }
    }

    .caja-blanca-menu-title .caja-blanca-menu-title-homepage-line {
        width: 300px;
        margin: 0 auto 25px auto;
    }
    
    .deals-background-image{
        margin-top: 100px;
    }

}




































@media all and (max-width: 775px) {
    .sticky{
        justify-content: space-around;
        height: 80px;
        .logo{
            padding: 10px;
        }
        .logo-header{
            height: 60px;
        }
    }
    .phone-nav-menu-icon{
        width: 30px;
        margin-top: 5px;
    }

    .carousel-item-homepage {
        height: auto; /* Set height to auto for mobile devices */
        width: 100%;
        margin-top: 80px;
    }
    .carousel-item-homepage .carousel-caption .carousel-homepage-property-title {
        font-size: 26px;
    }
    .carousel-item-homepage .carousel-homepage-property-price {
        font-size: 18px;
    }
    .around-carousel-icon-square {
        width: 40px;
        height: 40px;
        bottom: 0;
        padding-top: 12px;
        border-radius: 4px;
    }
    .carousel-control-next-icon, .carousel-control-prev-icon{
        width: 20px;
        height: 20px;
    }
    .carousel-item-homepage .btn-info {
        width: 110px;
        height: fit-content;
        font-size: 12px;
        padding: 5px;
    }
    .about-us-background-image{
        margin-top: 80px;
    }
    .contact-background-image{
        margin-top: 80px;
    }

    .caja-blanca-menu-title .caja-blanca-menu-title-homepage-line {
        width: 150px;
        margin: 0 auto 35px auto;
    } 
    
    //management page
    .management-background-image{
        margin-top: 80px;
    }
    .management-our-services-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        .management-our-services-content-text{
            width: 90%;
        }
        .management-our-services-content-images{
            width: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    .management-title{
        margin-top: -68px;
        margin-left: -117px;
        .management-title-text{
            margin-bottom: 20px;
            font-size: 20px;
        }
        .btn.btn-info.btn.btn-management-title-responsive{
            transform: translateX(50%);
        }
    }
    .management-our-services-content-text-decription-title{
        font-size: 25px;
        padding-top: 0;
    }
    .management-our-services-content-text-decription-subtitle{
        font-size: 18px;
    }
    //deals

    .deals-menu{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
        margin-bottom: 50px;
        flex-wrap: wrap;
        width: 90%;
        margin: 0 auto 50px auto;
        .card-deals{
            height: auto;
            width: auto;
            .card-image-deals{
                height: auto;
            }
        }
    }
    
    .last-minute-deals{
        width: 100%;
        margin: auto;
        flex-wrap: wrap;
        margin-bottom: 50px;
        .last-minute-card-deals{
            height: auto;
            width: 90%;
        }
        .last-minute-deals-row{
            gap: 50px;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
        .last-minute-card-image-deals{
            height: auto;  
            width: 100%;
        }
    }
    
    

    .caja-blanca-menu-title.caja-blanca-menu-title-services.last-minute-deals-menu-title{
        width: 200px;
    }

    .management-title.deals-image-title{
        margin-left: -116px;
        width: 200px;
        top: 20%;
        .deals-title-text{
            transform: translateX(5%);
            font-size: 30px;
            margin-bottom: 10px;
        }
        .btn-deals-title{
            display: none;
        }
        .btn.btn-info.btn.btn-management-title.btn-deals-title-responsive{
            display: block;
            width: fit-content;
            transform: translateX(22%);
        }
    }

    .deals-background-image{
        margin-top: 80px;
    }
    .management-title.deals-image-title{
        margin-top: 50px;
    }
    .btn.btn-info.btn.btn-management-title.btn-deals-title{
        width: 125px;
        transform: translateX(50%);
    }

}