// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

$theme-colors:(
    "info": #42d1d1,
);

@import "../node_modules/bootstrap/scss/bootstrap";

.body{
    background-color: #f9f9f9;
}

.sticky{
    height: 120px;
    background: rgba(255, 255, 255, 0.9);
    display: flex;
    justify-content: center;
    gap: 200px;
    .logo{
        padding: 10px;
    }
    .logo-header{
        height: 100px;
    }
    .nav-list{
        display: flex;
        list-style-type: none;
        padding: 50px 0 ;
        gap: 40px;
    }
    .nav-element{
        color:rgb(0, 0, 0);
    }
    .nav-links{
        color: rgb(0, 0, 0);
        text-decoration: none;
        font-weight: 600;
        font-size: 16px;
        position: relative;
        transition: all 0.3s;
    }

    .nav-links-last-child{
        font-size: 12px;
    }

    .nav-links:hover,
    .nav-links:focus{
        color: rgb(107, 107, 107);
    }

    .nav-links::after{
        content: "";
        height: 3px;
        width: 100%;
        background-color: rgb(66, 219, 219);
        position: absolute;
        left: 0;
        bottom: -15px;
        opacity:0;
        transition: all 0.25s;
        pointer-events: none;
    }

    .nav-links:hover::after,
    .nav-links:focus::after{
        opacity:1;
    }
    .btn-dropdown{
        border: transparent;
        background-color: transparent;
        font-weight: 500;
    }
    .dropdown-menu{
        border-radius: 0;
        padding: 10px;
        min-width: 10rem !important;
        margin-top: 8px !important;
    }
    .dropdown-item:hover{
        background-color: rgba(66,209,209,0.2);
    }
    .dropdown-menu-item{
        color: rgb(0, 0, 0);
        text-decoration: none;
    }
    .dropdown-menu-item:hover{
        color: #42d1d1;
    }
    .banderas{
        width: 20px;
    }
}

.nav-menu-phone{
    display: none;
}


.carousel-fade{
    width: 100%;
}
.carousel-item-homepage{
    height: 85vh;
    width: 100%;
    .carousel-caption{
        bottom: 35%;
    }
    .carousel-homepage-property-title{
        font-size: 60px;
    }
    .carousel-homepage-property-price{
        padding-bottom: 10px;
        margin-top: 0;
        padding-top: 0;
    }
    .btn-info{
        color: white;
    }
    .carousel-image-homepage{
        background-repeat: no-repeat !important;
        background-position: center !important;
        background-attachment: fixed !important;
        background-size: cover !important;
    }

}


.around-carousel-icon-square{
    background-color: rgba(0,0,0,0.4);
    width:  75px;
    height: 75px;
    bottom: 5px;
    padding-top: 20px;
    border-radius: 4px;
}

.welcome-menu-homepage{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 75px auto;
    width: 60%;
    justify-content: center;
    align-items: center;
    .welcome-text-homepage{
        width: 100%;
        height: fit-content;
        z-index: 2;
        padding: 0 25px 10px 25px;
        border-radius: 25px;
        box-shadow: 1px 1px 5px #000000;
        background-color: white;
        grid-column: 1 / 3;
        .welcome-text-homepage-title{
            text-align: center;
            padding: 15px 15px 10px 15px;
            font-family: 'Roboto Slab', serif !important;
        }
    }
    .welcome-image-homepage{
        width: 100%;
        z-index: 1;
        border-radius: 25px;
        grid-column: 2 / -1;
        box-shadow: 1px 1px 5px #000000;
        .welcome-image-homepage-image{
            width: 100%;
            border-radius: 25px;
        }
    }

    .welcome-text-homepage, .welcome-image-homepage{
        grid-row: 1 / 2;
    }
}

// .welcome-menu-homepage{
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     gap: 50px;
//     margin-top: 400px;
//     margin-bottom: 75px;
//     .welcome-text-homepage{
//         width: 440px;
//         position: absolute;
//         height: fit-content;
//         z-index: 2;
//         padding: 0 20px;
//         border-radius: 25px;
//         box-shadow: 1px 1px 5px #42d1d1;
//         background-color: white;
//         margin-right: 700px;
//         .welcome-text-homepage-title{
//             text-align: center;
//             padding-bottom: 20px;
//         }
//     }
//     .welcome-image-homepage{
//         position: absolute;
//         width: 50%;
//         height: 600px;
//         z-index: 1;
//         background-color: aqua;
//         margin-left: 400px;
//     }
// } z-index para poner un div encima del otro (otra opción) (pero hay que usar position:absolute y es mucho más sencillo con grid cuando tienes elementos encima y abajo que no quieres sobreescribir)

.properties-menu-title{
    justify-content: center;
    text-align: center;
    margin: auto;
    width: auto;
    .properties-menu-title-homepage{
        margin: auto;
        width: auto;
        font-family: 'Roboto Slab', serif !important;
    }
}
.properties-menu-title-homepage-line{
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 16%;
    height: 2px;
    background-color: #000000;
    margin-bottom: 50px;
}

.properties-menu{
    margin-bottom: 100px;
}
.properties-menu-images{
    display: flex;
    position: relative;
    gap: 50px;
    width: 80%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    .property{
        width: 525px;
        height: 490px;
        background-color: rgb(240, 240, 239);
        transition: 0.5s;
        position: relative;
        box-shadow: 1px 1px 5px #000000;
        .properties-menu-first-property-image, .properties-menu-second-property-image{
            height: 375px;
            width: 525px;
        }
        .properties-menu-first-property-text, .properties-menu-second-property-text{
            padding: 20px;
        }
        .properties-menu-names-homepage{
            font-family: 'Roboto Slab', serif !important;
        }
    }
    .property:hover{
        background-color: #42d1d1;
        transform: translateY(-10px);
        transform: scale(105%);
    }
    .property-links{
        color: #000;
        text-decoration: none;
    }
    .properties-menu-first-property-price{
        position: absolute;
        bottom: 125px;
        right: 25px;
        color: white;
        font-size: 23px;
        font-weight: 500;
    }
    
}

.footer-info{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    background-color: rgb(240, 240, 239);
    padding: 50px 50px 20px 50px;
    .footer-info-logo-image{
        height: 100px;
    }
    .footer-title{
        border-bottom: 1px solid #000000;
        margin-bottom: 15px;
        padding-bottom: 10px;
    }
    .footer-links{
        color: #000;
        text-decoration: none;
    }
    .footer-links:hover{
        color: #42d1d1;
        text-decoration: none;
    }
    .footer-text{
        line-height: 28px;
    }
}

//Pagina principal

//Pagina de Caja Blanca

.caja-blanca-menu-title{
    justify-content: center;
    text-align: center;
    margin: auto;
    width: 20%;
    margin-top: 150px;
    .caja-blanca-menu-title-homepage{
        justify-content: center;
        font-family: 'Roboto Slab', serif !important;
    }
    .caja-blanca-menu-title-homepage-line{
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 2px;
        background-color: #000000;
        margin-bottom: 35px;
    }
}


.welcome-menu-properties-page{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 15px auto;
    width: 75%;
    max-width: 1250px;
    justify-content: center;
    .welcome-text-properties-page{
        width: 100%;
        height: fit-content;
        z-index: 2;
        padding: 0 30px 10px 30px;
        box-shadow: 1px 1px 5px #000000;
        background-color: white;
        grid-column: 1 / 3;
        .welcome-text-properties-page-title{
            text-align: center;
            padding: 15px 15px 10px 15px;
            font-family: 'Roboto Slab', serif !important;
        }
    }

    .welcome-image-properties-page{
        width: 100%;
        z-index: 1;
        border-radius: 25px;
        grid-column: 2 / -1;
        margin-top: 75px;
        height: 600px;
        .welcome-image-properties-page-image{
            width: 100%;
            border-radius: 25px;
        }
    }
    .welcome-text-properties-page, .welcome-image-properties-page{
        grid-row: 1 / 2;
    }
}



//Calendar

// .container{
//     display: flex;
//   height: 70vh;
//   width: 100%;
//   justify-content: center;
//   align-items: center;
//   place-items: center;
//   overflow: hidden;
// }
// .calendar {
//     height: 30rem;
//     width: max-content;
//     background-color: white;
//     border-radius: 25px;
//     overflow: hidden;
//     padding: 35px 50px 0px 50px;
//   }

//   .calendar {
//     box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
//   }
  
//   .calendar-header {
//     background: #8089FE;
//     display: flex;
//     justify-content: space-between;
//     border-radius: 7px;
//     align-items: center;
//     font-weight: 700;
//     color: #ffffff;
//     padding: 10px;
//   }
  
//   .calendar-body {
//     padding: 10px;
//   }
  
//   .calendar-week-days {
//     display: grid;
//     grid-template-columns: repeat(7, 1fr);
//     font-weight: 600;
//     cursor: pointer;
//     color: rgb(104, 104, 104);
//   }
  
//   .calendar-week-days div:hover {
//     color: black;
//     transform: scale(1.2);
//     transition: all .2s ease-in-out;
//   }
  
//   .calendar-week-days div {
//     display: grid;
//     place-items: center;
//     color: #6D67CF;
//     height: 50px;
//   }
  
//   .calendar-days {
//     display: grid;
//     grid-template-columns: repeat(7, 1fr);
//     gap: 2px;
//     color: #0A0921;
//   }
  
//   .calendar-days div {
//     width: 37px;
//     height: 33px;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     padding: 5px;
//     position: relative;
//     cursor: pointer;
//     animation: to-top 1s forwards;
//   }
  
//   .month-picker {
//     padding: 5px 10px;
//     border-radius: 10px;
//     cursor: pointer;
//   }
  
//   .year-picker {
//     display: flex;
//     align-items: center;
//   }

//   pre{
//     margin-top: 12px;
//   }
  
//   .year-change {
//     height: 30px;
//     width: 30px;
//     border-radius: 50%;
//     display: grid;
//     place-items: center;
//     margin: 0px 10px;
//     cursor: pointer;
//   }
  
//   .year-change:hover {
//     background-color: #9796f0;
//     transition: all .2s ease-in-out;
//     transform: scale(1.12);
//   }
  
//   .calendar-footer {
//     padding: 10px;
//     display: flex;
//     justify-content: flex-end;
//     align-items: center;
//   }
  
//   #year:hover {
//     cursor: pointer;
//     transform: scale(1.2);
//     transition: all 0.2 ease-in-out;
//   }
  
//   .calendar-days div span {
//     position: absolute;
//   }
  
//   .calendar-days div:hover {
//     transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
//     background-color: #fbc7d4;
//     border-radius: 20%;
//     color: #f8fbff;
//   }
  
//   .calendar-days div.current-date {
//     color: #f8fbff;
//     background-color: #9796f0;
//     border-radius: 20%;
//   }
  
//   .month-list {
//     position: relative;
//     left: 0;
//     top: -130px;
//     background-color: #ebebeb;
//     color: #151426;
//     display: grid;
//     grid-template-columns: repeat(3, auto);
//     gap: 5px;
//     border-radius: 20px;
//   }
  
//   .month-list>div {
//     display: grid;
//     place-content: center;
//     margin: 5px 10px;
//     transition: all 0.2s ease-in-out;
//   }
  
//   .month-list>div>div {
//     border-radius: 15px;
//     padding: 10px;
//     cursor: pointer;
//   }
  
//   .month-list>div>div:hover {
//     background-color: #9796f0;
//     color: #f8fbff;
//     transform: scale(0.9);
//     transition: all 0.2s ease-in-out;
//   }
  
//   .month-list.show {
//     visibility: visible;
//     pointer-events: visible;
//     transition: 0.6s ease-in-out;
//     animation: to-left .71s forwards;
//   }
  
//   .month-list.hideonce {
//     visibility: hidden;
//   }
  
//   .month-list.hide {
//     animation: to-right 1s forwards;
//     visibility: none;
//     pointer-events: none;
//   }
  
//   .date-time-formate {
//     height: 4rem;
//     width: 100%;
//     font-family: Dubai Light, Century Gothic;
//     position: relative;
//     display: flex;
//     top: 50px;
//     justify-content: center;
//     align-items: center;
//   }
  
//   .day-text-formate {
//     font-family: Microsoft JhengHei UI;
//     font-size: 1.4rem;
//     padding-right: 5%;
//     border-right: 3px solid #9796f0;
//   }
  
//   .date-time-value {
//     display: block;
//     position: relative;
//     text-align: center;
//     padding-left: 5%;
//   }
  
//   .time-formate {
//     font-size: 1.5rem;
//   }
  
//   .time-formate.hideTime {
//     animation: hidetime 1.5s forwards;
//   }
  
//   .day-text-formate.hidetime {
//     animation: hidetime 1.5s forwards;
//   }
  
//   .date-formate.hideTime {
//     animation: hidetime 1.5s forwards;
//   }
  
//   .day-text-formate.showtime {
//     animation: showtime 1s forwards;
//   }
  
//   .time-formate.showtime {
//     animation: showtime 1s forwards;
//   }
  
//   .date-formate.showtime {
//     animation: showtime 1s forwards;
//   }
  
//   @keyframes to-top {
//     0% {
//       transform: translateY(0);
//       opacity: 0;
//     }
  
//     100% {
//       transform: translateY(100%);
//       opacity: 1;
//     }
//   }
  
//   @keyframes to-left {
//     0% {
//       transform: translatex(230%);
//       opacity: 1;
//     }
  
//     100% {
//       transform: translatex(0);
//       opacity: 1;
//     }
//   }
  
//   @keyframes to-right {
//     10% {
//       transform: translatex(0);
//       opacity: 1;
//     }
  
//     100% {
//       transform: translatex(-150%);
//       opacity: 1;
//     }
//   }
  
//   @keyframes showtime {
//     0% {
//       transform: translatex(250%);
//       opacity: 1;
//     }
  
//     100% {
//       transform: translatex(0%);
//       opacity: 1;
//     }
//   }
  
//   @keyframes hidetime {
//     0% {
//       transform: translatex(0%);
//       opacity: 1;
//     }
  
//     100% {
//       transform: translatex(-370%);
//       opacity: 1;
//     }
//   }


.caja-blanca-amenities-title{
    width: 250px;
    margin-left: 10%;
    margin-top: 100px;
    .caja-blanca-amenities-title-properties-page{
        font-family: 'Roboto Slab', serif !important;
    }
}
.caja-blanca-amenities-title-properties-page-line{
    margin-left: 10%;
    width: 250px;
    height: 2px;
    background-color: #000000;
    margin-bottom: 15px;
}

.amenities-elements{
    margin: auto;
    justify-content: center;
    text-align: center;
    width: 80%;
    .amenities-item{
        height: 60px;
        align-items: center;
        justify-content: center;
        width: 200px;
        font-family: 'Roboto Slab', serif !important;
        font-weight: bold;
        margin-bottom: 20px;
        padding: 40px 20px;
    }
    .first-row-amenities-elements, .second-row-amenities-elements, .third-row-amenities-elements, .fourth-row-amenities-elements{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .amenities-item-image{
        width: 40px;
    }
    .amenities-item-image-special{
        width: 6%;
    }
}

.caja-blanca-menu-title-services{
    margin-top: 100px;
}

.service-item{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: 50px;
    .service-image-item{
        width: 30%;
        .image-services{
            width: 100%;
        }
    }
    .btn-services{
        font-weight: 500;
    }
    .service-text-item{
        width: 30%;
    }
}

// Management Página
.management-background-image{
    height: 85vh;
    .management-background-image-image{
        height: 100%;
        width: 100%;
    }
}

.management-title{
    position: absolute;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -110%);
    padding: 10px;
    z-index: 1;
    font-size: 20px;
    color: rgb(255, 255, 255);
    .management-title-text{
        margin-bottom: 20px ;
    }
    .btn-management-title{
        transform: translateX(100%);
        color: white;
    }
}

.management-our-services-content{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    gap: 40px;
    .management-our-services-content-text{
        width: 625px;
    }
    .management-our-services-content-images{
        width: 625px;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
}

.card-img-top{
    height: 165px;
}
.management-our-services-menu-title{
    margin-bottom: 50px;
    margin-top: 75px;
}

.management-our-services-content-text-decription-title{
    font-family: 'Roboto Slab', serif !important;
    padding-top: 20px;
}
.management-our-services-content-text-decription-subtitle{
    font-size: 20px;
}


//Deals Página

.deals-background-image{
    height: 85vh;
    .deals-background-image-image{
        height: 100%;
        width: 100%;
    }
}

.caja-blanca-menu-title.caja-blanca-menu-title-services.deals-menu-title{
    margin-top: 50px;
    width: 600px; 
}
.caja-blanca-menu-title.caja-blanca-menu-title-services.last-minute-deals-menu-title{
    width: 500px;
}

.btn.btn-info.btn.btn-management-title.btn-deals-title{
    transform: translateX(35%);
}

.deals-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: 50px;
    .card-deals{
        height: auto;
        width: 30rem;
        .card-image-deals{
            height: 25rem;
        }
    }
    .last-minute-card-deals{
        width: 15rem;
    }
}

.last-minute-deals{
    gap: 35px;
    .last-minute-card-image-deals{
        height: 12rem;  
    }
}



//About Us Página
.about-us-background-image{
    height: 45vh;
    background-color: #000;
    .about-us-background-image-image{
        height: 100%;
        width: 100%;
        opacity: 0.5;
    }
}

.about-us-information{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 75px;
    margin-bottom: 75px;
    align-items: center;
    gap: 150px;
    .about-us-information-text{
        width: 400px;
        .about-us-information-text-title{
            font-family: 'Roboto Slab', serif !important;
        }
    }
    .about-us-information-image{
        width: 400px;
        height: 500px;
        border-radius: 50px;
        background-color: azure;
        display: flex;
        flex-direction: column;
        align-items: center;
        .foto-mama{
            margin-top: 75px;
            width: 50%;
            height: fit-content;
            border-radius: 100%;
        }
        .about-us-information-image-title{
            font-family: 'Roboto Slab', serif !important;
            padding-top: 20px;
        }
    }
}

// Contact Page
.contact-background-image{
    height: 45vh;
    background-color: #000;
    .contact-background-image-image{
        height: 100%;
        width: 100%;
        opacity: 0.5;
    }
}

.contact-information{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    .contact-item{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 150px 0;
        .contact-icon{
            width: 100px;
            height: 100px;
            .image-contact{
                width: 100%;
            }
        }
        .contact-text{
            padding: 10px 0;
            text-align: center;
            .contact-text-title{
                font-family: 'Roboto Slab', serif !important;
            }
        }
    }
}



@media all and (max-width: 1700px) {
    .sticky{
        gap: 100px;
        height: 120px;
    }
    .logo-header{
        height: 75px;
    }

    .welcome-menu-homepage{
        width: 1000px;
    }

    .welcome-menu-properties-page{
        width: 1200px;
        height: 500px;
    }

    .properties-menu-images{
        width: 95%;
    }

    .welcome-menu-properties-page .welcome-image-properties-page {
        margin-top: 100px;
    }

    .caja-blanca-menu-title{
        width: 300px;
    }

    .caja-blanca-amenities-title{
        margin-top: 300px;
    }

    .properties-menu-title-homepage-line{
        width: 20%;
    }

}

@media all and (max-width: 1250px) {
    
    .sticky{
        justify-content: space-around;
        height: 100px;
    }

    .sticky .logo{
        padding: 10px;
    }

    .sticky .logo-header{
        height: 75px;
    }

    .dropdown-menu-phone{
        border: 0;
        background-color: transparent;
    }
    
    nav{
        display:none;
    }

    .nav-menu-phone{
        display: block;
        padding: 22px;
    }
    .phone-nav-menu-icon{
        width: 50px;
        margin-top: 15px;
    }

    //

    .carousel-item-homepage {
        height: auto; /* Set height to auto for mobile devices */
        width: 100%;
    }

    .carousel-fade {
        margin-top: 120px;
    }

    .carousel-homepage-property-title{
        font-size: 20px;
    }

    .carousel-caption{
        bottom: 15% !important; 
    }

    .welcome-menu-homepage {
        grid-template-columns: repeat(2, 1fr); /* Change to two columns for screens smaller than 768px */
        display: block;
        width: 80%;
    }

    //
    .welcome-text-homepage{
        height: auto;
        margin-bottom: 25px;
    }
    
    .properties-menu-title-homepage-line{
        width: 45%;
    }

    .properties-menu-first-property-image{
        height: 375px;
        width: 80%;
    }

    .property-links{
        width: 100%;
    }

    .properties-menu-images{
        width: 80%;
        .property{
            width: 100%;
            height: auto;
            background-color: rgb(240, 240, 239);
            transition: 0.5s;
            position: relative;
            .properties-menu-first-property-image, .properties-menu-second-property-image{
                height: auto;
                width: 100%;
            }
        }
    }

    .footer-info{
        display: block;
        height: auto;
        width: 100%;
    }

// Properties pages
    .welcome-menu-properties-page{
        display: block;
        display: flex;
        flex-direction: column;
        grid-template-columns: repeat(2, 1fr);
        width: 90%;
        height: auto;
    }
    .welcome-menu-properties-page .welcome-image-properties-page{
        margin-top: 0;
        margin-bottom: 20px;
        height: auto;
        order: 1;
    }
    .welcome-menu-properties-page .welcome-text-properties-page{
        order: 2;
    }
    .caja-blanca-amenities-title{
        margin-top: 50px;
    }
    .caja-blanca-menu-title{
        margin-top: 100px;
    }
    .service-item{
        flex-direction: column;
        .service-image-item{
            width: 90%;
        }
        .btn-services{
            font-weight: 500;
        }
        .service-text-item{
            width: 90%;
        }
    }
    .third-service-text, .second-service-text{
        order: 2;
    }
    .third-service-image, .second-service-image{
        order: 1;
    }

}
@media all and (max-width: 775px) {
    .sticky{
        justify-content: space-around;
        height: 80px;
    }

    .sticky .logo-header{
        height: 60px;
    }

    .phone-nav-menu-icon{
        width: 30px;
        margin-top: 5px;
    }

    .carousel-fade {
        margin-top: 80px;
    }

    .carousel-item-homepage .carousel-caption .carousel-homepage-property-title {
        font-size: 20px;
    }

}